<div class="col-md-8">
<% @posts.each do |post| %>
<article>
  <h2><%= link_to_post post.title, post %></h2>
  <div><%= raw post.content_html %></div>

  <% if post.author == current_author %>
  <div>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</article>
<% end %>
</div>
