<% provide(:title, Author.all.map do |author| author.name end.join(', ')) %>

<div class="col-md-offset-1 col-md-10">
  <% @posts.each do |post| %>
  <article><%= render 'post', :post => post %></article>
  <% end %>

  <%= paginate @posts %>
</div>
