<% provide :title, "#{@post.title} - #{@post.author.name}" %>

<% if notice %><div id="notice"><%= notice %></div><% end %>

<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
  <article><%= render 'post', :post => @post %></article>
</div>
