<% provide :title, "#{@post.title} - #{@post.author.name}" %>

<% if notice %><div id="notice"><%= notice %></div><% end %>

<div id="posts"><div class="container">
  <article>
    <%= render 'post', :post => @post %>

    <% if @post.author == current_author %>
    <div class="btn-group">
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-sm btn-primary' %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
    </div>
    <% end %>
  </article>
</div></div>
