@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css);

body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

abbr[title] {
    border: none;
}

a:link {
    color: #339;
}

a:visited {
    color: #909;
}

a:hover {
    color: #33f;
}

.container {
    max-width: 35em;
    padding: 0 1em;
    margin: 0 auto;
}

#flash, #posts {
    overflow: hidden;
    background: #fff;
}

header, footer {
    padding: 1em 0;
    background: #f0f0f0;

    p {
        font-size: 80%;
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit !important;
    }
}

#atom {
    padding: 1em 0;
    text-align: right;

    p {
        font-size: 80%;
        margin: 0;
        padding: 0;
    }
}

article {
    padding: 0 1em;

    h2 {
        font-size: 2em;
        margin-bottom: 0;

        a {
            color: inherit !important;
            text-decoration: none;
        }
    }

    .meta {
        color: #999;
        font-size: 80%;
    }

    p {
        line-height: 1.5;
    }

    blockquote {
        margin: 0 -1em;
        padding: 0 1em;
        overflow: hidden;
        background: #ffc;
    }
    blockquote:before {
        content: "\201C";
        position: absolute;
        margin-left: -0.4em;
        font: 2em/1 Georgia serif;
    }
}

atom a {
     
}

article + article {
    border-top: 1px solid #999;
}
