//= require font-awesome

@import "bootstrap";

blockquote {
  font-size: $font-size-base;
}

#container {
    overflow-x: hidden;
    height: 100%;
}

abbr[title] {
    border: none;
}

a:link {
    color: #339;
}

a:visited {
    color: #909;
}

a:hover {
    color: #33f;
}

#flash, #posts {
    overflow: hidden;
    background: #fff;
}

footer {
    padding: 1em 0;

    p {
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit !important;
    }
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    transition: left 0.2s ease 0s;
    left: 0px;

    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

    a {
      color: inherit !important;
      display: block;
      float: left;
      padding: 0 1em;
    }

    .bar {
        line-height: 3em;
        padding: 0;
    }
}

#posts {
  padding-top: 3em;
}

main {
    background: #fff;
    width: 100%;

    height: auto;
    min-height: 100%;

    position: relative;
    z-index: 100;
    overflow: hidden;

    transition: margin-left 0.2s ease 0s;
}

article {
    padding: 0;

    h2 {
        color: #000;
        margin-bottom: 0;

        a {
            color: inherit !important;
            text-decoration: none;
        }
    }

    .meta {
        color: #999;
        margin-bottom: $padding-small-horizontal;
    }
}

article + article {
    border-top: 1px solid #ccc;
}

#posts-new {
  padding: 3em 1em 0 0.5em;

  h1 {
    font-size: 1em;
    margin: 0;
    line-height: 2em;
  }

  .pair {
    margin: 1em 0;
  }

  input {
    width: 100%;
  }

  input[type="submit"] {
    background: linear-gradient(#444, #333);
    line-height: 3em;
    color: #eee;
    border-radius: 4px;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
    border: none;
  }

  textarea {
    width: 100%;
  }
}
