@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css);

html {
}

body {
    font-family: "Helvetica Neue", sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    background: #333;
}

#container {
    overflow-x: hidden;
    height: 100%;
}

abbr[title] {
    border: none;
}

a:link {
    color: #339;
}

a:visited {
    color: #909;
}

a:hover {
    color: #33f;
}

.container {
    max-width: 45em;
    padding: 0 1em;
    margin: 0 auto;
}

#flash, #posts {
    overflow: hidden;
    background: #fff;
}

footer {
    padding: 1em 0;

    p {
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit !important;
    }
}

nav {
    position: fixed;
    width: 100%;
    z-index: 0;

    i.fa { margin-right: 1em; }

    span.header {
      font-size: 90%;
    }

    ul {
        background: #333;
        margin: 0;
        padding: 0 1em;

        li {
            color: #ccc;
            list-style: none;
            line-height: 3em;
            border-bottom: 1px solid #333;
        }
        a {
            font-size: 90%;
            color: inherit !important;
            text-decoration: none;
            display: block;
        }
    }

    ul.submenu {
      padding: 0 2em;
    }
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;

    transition: left 0.2s ease 0s;
    left: 0px;

    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

    a {
      color: inherit !important;
      display: block;
      float: left;
      padding: 0 1em;
    }

    .bar {
        line-height: 3em;
        padding: 0;
    }
}

#posts {
  padding-top: 3em;
}

main {
    background: #fff;
    width: 100%;

    height: auto;
    min-height: 100%;

    position: relative;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);

    transition: margin-left 0.2s ease 0s;
}

article {
    padding: 0;

    h2 {
        color: #000;
        font-size: 2em;
        margin-bottom: 0;

        a {
            color: inherit !important;
            text-decoration: none;
        }
    }

    .meta {
        color: #999;
        font-size: 80%;
    }

    p {
        line-height: 1.5;
    }

    blockquote {
        margin: 0 -0.5em;
        padding: 0 .5em;
        overflow: hidden;
        background: #ffc;
    }

    code {
        font-size: 95%;
        background: #ffd;
    }

    pre {
        font-size: 95%;
        background: #ffd;
        padding: 1em;
    }
}

article + article {
    border-top: 1px solid #ccc;
}

#posts-new {
  padding: 3em 1em 0 0.5em;

  h1 {
    font-size: 1em;
    margin: 0;
    line-height: 2em;
  }

  .pair {
    margin: 1em 0;
  }

  input {
    width: 100%;
  }

  input[type="submit"] {
    background: linear-gradient(#444, #333);
    line-height: 3em;
    color: #eee;
    border-radius: 4px;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
    border: none;
  }

  textarea {
    width: 100%;
  }
}
